/* FONTS */
@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

/* # Glocal scoped css */
body {
    background-color: #4b5563;
    margin: 0px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#header ul {
    list-style-type: none;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

#header a {
    text-decoration: none;
    color: white;
    font-family: VCR OSD Mono;
}

/* Index scoped css */
#index-home {
    display: flex;
    justify-content: center;
}

#welcome-tags {
    display: flex;
    justify-content: center;
}

#welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: VCR OSD mono;
    color: white;
}

#welcome-page a {
    color: white;
}

@media (orientation: portrait) {
    #index-home {
        flex-direction: column;
    }
}

/* post/article scoped css */


/* article list scoped css */

