/* # Glocal scoped css */
body {
    background-color: #4b5563;
    margin: 0px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Index scoped css */
