<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for the article you need</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="alternate" type="application/rss+xml" title="Max The Computer Fox's feed" href="/feed.xml">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div id="header">
        <a href="/" id="main-header-title">Max The Computer Fox</a>
        <ul class="header-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

    <div id="about-page">
        <h1>About</h1>
        <p>So some of you might be wondering on why I created this blog site in the first place, 
            well the top reason on why I created this site was to create my own place to share 
            my projects, discoveries, and other cool stuff too. I hope all of yall will enjoy my 
            posts and have a very lovely day uwu, anyways, ill be here spinnin
        </p>
        <img src="/static/max.gif" alt="Weeeee">
    </div>
</body>
</html>