<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of latest articles</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <ul class="header-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Posts</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>

    <ul>
        {%for article in articles%}
            <li>
                {{article.date}}
                <a href="/post/{{article.file}}"> {{article.title}}</a>
            </li>
        {% else %}
            <li><em>No users found</em></li>
        {% endfor %}
    </ul>
</body>
</html>