<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of latest articles</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <a href="/">Max The Computer Fox</a>
        <ul class="header-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Posts</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
    <div id="post-list">
        <ul>
            {%for article in articles%}
                <li>
                    {{article.date}}
                    <a href="/post/{{article.file}}" class="post-link"> {{article.title}}</a>
                </li>
            {% else %}
                <li><em>No posts found</em></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>