<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Max's blog site</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div id="header">
        <a href="/" id="main-header-title">Max The Computer Fox</a>
        <ul class="header-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

    <div id="index-home">
        <div id="welcome-tags">
            <img src="/static/welcome.png" alt="Hewwo :3">
        </div>
        <div id="welcome-page">
            <h1>HOME</h1>
            <p>
            Hey everyone, my name is max the computer fox, I am a software developer, computer science lover, 
            FOSS dev, and linux enthusiest that also loves being a fluffy fox online :3 you guys can follow this 
            blog on my <a href="/feed.xml">RSS feed</a></p>
            <p>To see max latest articles, you can search right here: </p>
            <a href="/articles">Articles</a>
        </div>
    </div>
    
</body>
</html>