<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="alternate" type="application/rss+xml" title="Max The Computer Fox's feed" href="/feed.xml">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div id="header">
        <a href="/" id="main-header-title">Max The Computer Fox</a>
        <ul class="header-links">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

    <div class="content-post">
        {{content|safe}}
    </div>
</body>
</html>